.home-content {
  z-index: 4;
  display: table-cell;
  vertical-align: top;
  padding-top: 8rem;
  width: 100%;
  position: relative;
}

.home-content h1 {
  font-family: "Chivo", sans-serif;
  font-weight: 600;
  font-size: 7.2rem;
  line-height: 1.222;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 3.2rem;
  position: relative;
}

.home-content h1::before {
  display: block;
  content: "";
  height: 2px;
  width: 8rem;
  background-color: #0df00d;
  position: absolute;
  left: 8px;
  top: 0;
}

.home-content h3 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 1.667;
  font-style: normal;
  color: #0df00d;
  margin-top: 2rem;
  width: 85%;
}

.home-content__main {
  position: relative;
  padding-bottom: 0;
  max-width: 1300px;
}

.home-content__left {
  width: calc(100% - (580px + 80px));
}

.home-content__right {
  z-index: 500;
  width: 580px;
  position: absolute;
  right: 0;
  top: 0;
}

.home-content__right img {
  vertical-align: top;
  margin-top: -5.2rem;
}