@mixin columnasmix {
    display:inline-block;
    position:relative;
    vertical-align:top;

}
$width: 100%;
$width-col: ($width/12);

.container{
    width: 1024px;
    margin: 0 auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.margen{
    padding-top:20px;
    padding-bottom:20px;
    padding-left:30px;
    padding-right:30px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.columna1{
	@include columnasmix;
	width:100%;
}

.columna2{
    @include columnasmix;
    width:50%;
}

.columna3{
    @include columnasmix;
    width:33.33%;
}

.columna4{
    @include columnasmix;
    width:25%;
}

.columna5{
    @include columnasmix;
    width:20%;
}

.columna6{
    @include columnasmix;
    width:16.665%;
}

.columna6B{
    @include columnasmix;
    width:33.33%;
}

.columna2-3{
    @include columnasmix;
    width:66.66%;
}

.columna3-4{
    @include columnasmix;
    width:75%;
}
