@media only screen and (max-width:400px) {
    .row .row {
      margin-left: 0;
      margin-right: 0;
    }
  
    [class*="col-"]:not(.col-block) {
      width: 100% !important;
      float: none !important;
      clear: both !important;
      margin-left: 0;
      margin-right: 0;
      padding: 0;
    }
  
    [class*="col-"] + [class*="col-"].end {
      float: none;
    }
  
    .stack .col-block {
      width: 100% !important;
      float: none !important;
      clear: both !important;
      margin-left: 0;
      margin-right: 0;
      padding: 0;
    }
  
  }
  