section#contacto{
    background: #18191A url(../images/contacto/contacto.png) center no-repeat;
    background-size: 100%;
    color: #FFF;
    padding-top: 100px;
    padding-bottom: 100px;
}
section#contacto h2{
  transform: scale(0.8);
}
