.btn,
 button,
 input[type="submit"],
 input[type="reset"],
 input[type="button"] {
   display: inline-block;
   font-family: "Nunito Sans", sans-serif;
   font-weight: 700;
   font-size: 1.4rem;
   text-transform: uppercase;
   letter-spacing: .4rem;
   height: 6rem;
   line-height: 5.6rem;
   padding: 0 3.2rem;
   margin: 0 .4rem 1.6rem 0;
   color: #000000;
   text-decoration: none;
   text-align: center;
   white-space: nowrap;
   cursor: pointer;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   border-radius: 4px;
   background-color: #d6d6d6;
   border: 0.2rem solid #d6d6d6;
 }
 
 .btn:hover,
 button:hover,
 input[type="submit"]:hover,
 input[type="reset"]:hover,
 input[type="button"]:hover,
 .btn:focus,
 button:focus,
 input[type="submit"]:focus,
 input[type="reset"]:focus,
 input[type="button"]:focus {
   background-color: #c2c2c2;
   border-color: #c2c2c2;
   color: #000000;
   outline: 0;
 }
 
 .btn.btn--primary,
 button.btn--primary,
 input[type="submit"].btn--primary,
 input[type="reset"].btn--primary,
 input[type="button"].btn--primary {
   background: #08da27;
   border-color: #08da27;
   color: #ffffff;
 }
 
 .btn.btn--primary:hover,
 button.btn--primary:hover,
 input[type="submit"].btn--primary:hover,
 input[type="reset"].btn--primary:hover,
 input[type="button"].btn--primary:hover,
 .btn.btn--primary:focus,
 button.btn--primary:focus,
 input[type="submit"].btn--primary:focus,
 input[type="reset"].btn--primary:focus,
 input[type="button"].btn--primary:focus {
   background: #1D8348;
   border-color: #1D8348;
 }
 
 .btn.full-width,
 button.full-width {
   width: 100%;
   margin-right: 0;
 }
 
 .btn--medium,
 button.btn--medium {
   height: 6.4rem !important;
   line-height: 6rem !important;
 }
 
 .btn--large,
 button.btn--large {
   height: 6.8rem !important;
   line-height: 6.4rem !important;
 }
 
 .btn--stroke,
 button.btn--stroke {
   background: transparent !important;
   border: 0.2rem solid #000000;
   color: #000000;
 }
 
 .btn--stroke:hover,
 button.btn--stroke:hover {
   background: #000000 !important;
   border: 0.2rem solid #000000;
   color: #ffffff;
 }
 
 .btn--pill,
 button.btn--pill {
   padding-left: 3.2rem !important;
   padding-right: 3.2rem !important;
   border-radius: 1000px !important;
 }
 
 button::-moz-focus-inner,
 input::-moz-focus-inner {
   border: 0;
   padding: 0;
 }