@media only screen and (max-width:1400px) {
  .s-about {
    padding-bottom: calc(62.4rem/2);
  }

}

@media only screen and (max-width:1200px) {
  .s-about {
    padding-top: 18.4rem;
  }

}

@media only screen and (max-width:1000px) {
  .s-about {
    padding-top: 17.2rem;
  }

  .about-desc__slide {
    padding: 0 20px;
  }

}

@media only screen and (max-width:800px) {
  .s-about {
    padding-top: 16rem;
  }

}

@media only screen and (max-width:700px) {
  .about-desc {
    max-width: 550px;
  }

  .about-desc__slide {
    padding: 0 10px;
    text-align: center;
  }

}

@media only screen and (max-width:600px) {
  .s-about {
    padding-top: 14.8rem;
    padding-bottom: calc((60rem/2) + 9.6rem);
  }

  .about-desc {
    max-width: 500px;
  }

  .about-desc__slide {
    padding: 0;
  }

}

@media only screen and (max-width:500px) {
  .s-about {
    padding-bottom: calc((52rem/2) + 9.6rem);
  }

}

@media only screen and (max-width:400px) {
  .s-about {
    padding-top: 14rem;
    padding-bottom: calc((48rem/2) + 9.6rem);
  }

}
